@model Salino.Models.Gallery

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <h1 style="margin-bottom:15px">
        گالری

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Default/Index"><i class="fa fa-dashboard"></i> مدیریت</a></li>
        <li class="active"><a href="/Admin/Galleries/Index"> گالری</a></li>
        <li class="active">حذف گالری</li>
    </ol>
</section>
<div class="box box-info container">


    <h3>آیا  ازحذف گالری  مطمئن هستید؟ </h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Product.CodeKala)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.CodeKala)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.ImgPath)
            </dt>

            <dd>
                <img src="~/Content/ImgGallery/@Model.ImgPath" alt="@Model.ImgPath " class="img-thumbnail" style="border:1px solid ;width:120px;height:120px;" />
            </dd>
            <hr />
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <button class="btn btn-social btn-success" type="submit">
                            <i class="fa fa-save"></i> حذف
                        </button>
                        <a class="btn btn-social btn-pinterest" href="/Admin/Galleries/index">
                            <i class="fa fa-backward"></i> بازگشت
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
