@model Salino.Models.MajorShop
@using Salino.ToShamsi

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1 style="margin-bottom:15px">
     خرید عمده

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Default/Index"><i class="fa fa-dashboard"></i> مدیریت</a></li>
        <li class="active"><a href="/Admin/MajorShops/Index">  خرید عمده</a></li>
        <li class="active"> خرید عمده</li>
    </ol>
</section>
<div class="box box-info container">

    <div>
        <h4>جزئیات  خرید عمده </h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MinSelectedProduct)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MinSelectedProduct)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.Count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.FarbicId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FarbicType.tiltle)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Createdate)
            </dt>
            <dd>
                @Model.Createdate.ToString().ToShamsi()
            </dd>
            <hr />


        </dl>
    </div>

    <p>
        <a class="btn btn-social btn-danger" href="/Admin/MajorShops/Edit/@Model.Id">
            <i class="fa fa-backward"></i> ویرایش
        </a>
        <a class="btn btn-social btn-pinterest" href="/Admin/MajorShops/index">
            <i class="fa fa-backward"></i> بازگشت
        </a>
    </p>
</div>