
@model Salino.ViewModels.NewPasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container reg " style="font-family: IRANSans;">



    <nav aria-label="breadcrumb" style="direction:rtl;font-family: IRANSans;text-align-last:center ; text-align-last: center;
                   box-shadow: 0 0 11px 0 #131212; background: #f89721e6;  box-shadow: 0 0 19px 0 #ed2124 inset;  ">
        <ol class="breadcrumb" style="background: none;    display: block;">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item"><a href="/PanelUser/Index">پنل کاربری</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #212529;"> رمزعبورجدید </li>

        </ol>
    </nav>


    <div class="login" style="direction:rtl">

        <h2 style="text-align: center;font-family: IRANSans">رمزعبورجدید </h2>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="alert-info">
                    <p style="text-align: center;">کد فعالسازبه شماره  @ViewBag.mobile ارسال شد.</p>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.CodeActivate, htmlAttributes: new { @class = "control-label col-md-2",@style= "text-align: right;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CodeActivate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CodeActivate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align: right;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserRePassword, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align: right;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserRePassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserRePassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-10">
                        <input type="submit" value="ذخیره" class="btn btn-block  btnregister" />

                    </div>
                </div>

            </div>

        }
        <a href="~/User/Register" class="loginLittleUnderRegister" style="text-align: right; ">
            <p style="color: red; border: 1px solid black; width: 58px;
             text-align: center;border-radius: 5px;">ثبت نام</p>
        </a>
        <a href="~/User/login" class="loginLittleUnderRegister" style="text-align: right; ">
            <p style="color: red; border: 1px solid black; width: 58px;
                      text-align: center;border-radius: 5px;">ورود</p>
        </a>
    </div>

</div>


