@model ViewModels.RegisterDisposableViewModel
@{
    ViewBag.Title = "RegisterDisposable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<div class="container reg " style="font-family: IRANSans;">


    <nav aria-label="breadcrumb" style="direction:rtl;font-family: IRANSans;text-align-last:center ; text-align-last: center;
              box-shadow: 0 0 11px 0 #131212; background: #f89721e6;  box-shadow: 0 0 19px 0 #ed2124 inset;  ">
        <ol class="breadcrumb" style="background: none;    display: block;">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #212529;">ثبت نام با کد یکبار مصرف</li>
        </ol>

    </nav>


    <div class="login" style="direction:rtl">

        <h2 style="text-align: center;font-family: IRANSans">ثبت نام با کد یکبار مصرف </h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        @Html.LabelFor(model => model.RegisterDtoDisposable_Mobile, htmlAttributes: new { @class = "control-label col-md-3", @style = "display: flex;    text-align: right;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RegisterDtoDisposable_Mobile, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 15px;" } })
                            @Html.ValidationMessageFor(model => model.RegisterDtoDisposable_Mobile, "", new { @class = "text-danger " })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">



                        <div class="col-md-12">
                            <input type="submit" value="ارسال" class="btn btn-block   btnregister" style="float: left;" />
                        </div>
                    </div>
                    @if (@ViewBag.msg != null)
                    {
                        <div class="alert-info">
                            <p style="text-align: center;">  @ViewBag.msg</p>
                        </div>
                    }
                </div>

              



            </div>


        }
    </div>

</div>

