@model Salino.ViewModels.ChgangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>تغییر رمز عبور</b></a>
    </div>

    <div class="register-box-body">
 


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })            
                           

          
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="رمزعبورجاری"name="UserOldPassword">
                    @Html.ValidationMessageFor(model => model.UserOldPassword, "", new { @class = "text-danger" })
                
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="رمزعبورجدید"name="UserPassword">
                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })

                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="تکرار رمز عبورجدید"name="UserRePassword">
                    @Html.ValidationMessageFor(model => model.UserRePassword, "", new { @class = "text-danger" })
               
                </div>
                <div class="form-group has-feedback">
                    <input type="submit" value="ذخیره" class="btn btn-success btn-block submit" id="Cart" />

                </div>
               
            </div>

        }

      
    </div>
    <!-- /.form-box -->
</div>

