@model Salino.ViewModels.ChgangePasswordViewModel
@{
    ViewBag.Title = "تغییر-رمزعبور";
     ViewData["Des"] = "salinotbz.تغییر رمزعبور سایت فروشگاه سالینو ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="direction: rtl;">
    <div style="margin-top:70px;">


        <nav aria-label="breadcrumb" style="direction:rtl;font-family: IRANSans;text-align-last:center ; text-align-last: center;
                   box-shadow: 0 0 11px 0 #131212; background: #f89721e6;  box-shadow: 0 0 19px 0 #ed2124 inset;  ">
            <ol class="breadcrumb" style="background: none;    display: block;">
                <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                <li class="breadcrumb-item"><a href="/PanelUser/Index">پنل کاربری</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #212529;">تغییر رمزعبور </li>

            </ol>
        </nav>
        <div class="row personInfoD" style="margin-top:50px;padding: 17px;">
            @Html.Partial("_HeaderPanelUser")

            <div class="col-sm-9 scrollspy-example" data-spy="scroll" data-target="#spy" style="">
                <div style="border:1px solid;height: 394px;padding:25px;" class="personInfo">
                    <div class="register-box "style="">

                        <h2 style="text-align: center;font-family: IRANSans">تغییر رمز عبور</h2>
                        <hr />
                        <div class="register-box-body">



                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserOldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UserOldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserOldPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserRePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UserRePassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserRePassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
          
                                    <div class="form-group">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-10">
                                            <input style="display: block;" type="submit" value="ذخیره" class="btn btn-default" />
                                           
                                        </div>
                                    </div>

                                </div>

                            }


                        </div>
                        <!-- /.form-box -->
                    </div>
                </div>
             
            </div>
        </div>

    </div>
</div>

