
@model Salino.Models.FactorMain

@using Display;
@using Salino.DataLayer;
@using Salino.Models;
@{

    SalinoContext db = new SalinoContext();
    ViewBag.Title = "فاکتور";
    ViewData["Des"] = "salinotbz. فاکتور کاربری سایت فروشگاه سالینو ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = Convert.ToInt32(ViewBag.pagecurrent);
}



<style>
    .detailfactor p
    {
        float:right;
        direction:rtl;
    }
</style>

<div class="container" style="direction: rtl;">
    <div style="margin-top:70px;">


        <nav aria-label="breadcrumb" style="direction:rtl;font-family: IRANSans;text-align-last:center ; text-align-last: center;
                   box-shadow: 0 0 11px 0 #131212; background: #f89721e6;  box-shadow: 0 0 19px 0 #ed2124 inset;  ">
            <ol class="breadcrumb" style="background: none;    display: block;">
                <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                <li class="breadcrumb-item"><a href="/PanelUser/Index">پنل کاربری</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #212529;"> سفارش ها</li>

            </ol>
        </nav>
        <div class="row personInfoD" style="margin-top:50px;padding: 17px;">
            @Html.Partial("_HeaderPanelUser")

            <div class="col-sm-9 scrollspy-example" data-spy="scroll" data-target="#spy" style="">
                <div style="padding:25px;" class="personInfo">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="alert alert-danger text-center">
                                مشتری گرامی درهنگام ویرایش آدرس دقت فرمایید  آدرسی که برای فاکتور قبلی درج شده قابل ویرایش نمی باشد
                            </p>
                        </div>
                    </div>
                    <section class="content-header">
                        <h1 style="margin-bottom:15px;text-align:center;font-family: IRANSans;">
                            مشخصات کاربر

                        </h1>
                        <a class="btn btn-social btn-danger " style="font-size:12px;" href="/PanelUser/FactorMainShow/Create">
                            <i class="fa fa-hand-pointer-o"></i>   بازگشت
                        </a>
                    </section>
                    <div class="container detailfactor" style="">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    شماره فاکتور : @Model.FactorNumber
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    شماره سفارش : @Model.PaymentNumber
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    شماره پرداخت : @Model.RRN
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    وضعیت پرداخت :
                                    @if (@Model.StatusAll == StatusAllTypeFactorsEnum.Pending)
                                    {
                                    <p class="btn btn-info btn-sm checkbox-toggle">
                                        @Model.StatusAll.ToDisplay()
                                    </p>
                                }
                                    @if (@Model.StatusAll == StatusAllTypeFactorsEnum.Preparing)

                                    {
                                        <p class="btn btn-danger btn-sm checkbox-toggle">
                                            @Model.StatusAll.ToDisplay()
                                        </p>
                                    }
                                    @if (@Model.StatusAll == StatusAllTypeFactorsEnum.Sending)

                                    {
                                        <p class="btn btn-primary btn-sm checkbox-toggle">
                                            @Model.StatusAll.ToDisplay()
                                        </p>

                                    }
                                    @if (@Model.StatusAll == StatusAllTypeFactorsEnum.CompleteSubmission)

                                    {
                                        <p class="btn btn-success btn-sm checkbox-toggle">
                                            @Model.StatusAll.ToDisplay()
                                        </p>

                                    }
                                    @if (@Model.StatusAll == StatusAllTypeFactorsEnum.Returns)

                                    {
                                        <p class="btn btn-info btn-sm checkbox-toggle">
                                            @Model.StatusAll.ToDisplay()
                                        </p>

                                    }
                                    @if (@Model.StatusAll == StatusAllTypeFactorsEnum.error)

                                    {
                                        <p class="btn btn-warning btn-sm checkbox-toggle">
                                            @Model.StatusAll.ToDisplay()
                                        </p>

                                    }

                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        وضعیت سفارش :
                                        @if (Model.Paymentstatus == "100" && db.FactorDetails.Where(x => x.FactorMainId == Model.Id).FirstOrDefault() != null)
                                        {
                                        <p style="border: 1px solid; background: green;color: white; text-align: center; width: 75px;font-size:12px; margin: auto; border-radius: 6px; box-shadow: 0 0 5px 0 #333;">پرداخت شده</p>
                                    }
                                    else
                                    {
                                        <p style="border: 1px solid; background: red;color: white; text-align: center; width: 75px;font-size:12px;margin: auto;border-radius: 6px; box-shadow: 0 0 5px 0 #333;">پرداخت نشده</p>
                                    }
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            مبلغ نهایی : @Model.SumAllPrice
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            تاریخ خرید : @Model.DateCreate
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            آدرس : @Model.AddressUser
                                        </p>
                                    </div>

                                    <div class="col-md-12">
                                        <p>
                                            استان : @Model.UserOstan
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            شهر : @Model.UserCity
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            کد پستی : @Model.PostNumber
                                        </p>
                                    </div>
                                </div>
                      


                    </div>

             
                </div>
            </div>
        </div>

    </div>
</div>