@model Salino.Models.User
@using Salino.DataLayer;
@{
    ViewBag.Title = "ویرایش-اطلاعات-کاربری";
    ViewData["Des"] = "salinotbz.ویرایش اطلاعات کاربری سایت فروشگاه سالینو ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SalinoContext db = new SalinoContext();
}



<style>
    .nice-select {
        display: none !important;
    }

    #city {
        display: block !important;
        height: 41px;
        font-size: 17px;
        color: black;
    }

    #ostan {
        display: block !important;
        height: 41px;
        font-size: 17px;
        color: black;
    }

    .personInfoD label {
        display: flex;
    }

    .scrollspy-example {
        position: relative;
        height: auto;
        overflow: auto;
    }
</style>


<div class="container" style="direction: rtl;">
    <div style="margin-top:70px;" class="personInfo">


        <nav aria-label="breadcrumb" style="direction:rtl;font-family: IRANSans;text-align-last:center ; text-align-last: center;
                   box-shadow: 0 0 11px 0 #131212; background: #f89721e6;  box-shadow: 0 0 19px 0 #ed2124 inset;  ">
            <ol class="breadcrumb" style="background: none;    display: block;">
                <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                <li class="breadcrumb-item"><a href="/PanelUser/Index">پنل کاربری</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #212529;">  @ViewBag.ShomareFactor ویرایش سفارش</li>

            </ol>
        </nav>

        <div class="row personInfoD" style="margin-top:50px;padding: 17px;">
            @Html.Partial("_HeaderPanelUser")
         
            <div class="col-md-9  col-sm-12 col-xs-12  scrollspy-example" data-spy="scroll" data-target="#spy" style="margin-top:45px;">
                <div class="row">
                    <div class="col-md-12">
                        <p class="alert alert-danger text-center">
                            مشتری گرامی درهنگام ویرایش آدرس دقت فرمایید  آدرسی که برای فاکتور قبلی درج شده قابل ویرایش نمی باشد
                        </p>
                    </div>
                </div>
                <div class="container">
                    <form class="form-horizontal" action="/PanelUser/EditPersonalInformation" method="post">
                        <input hidden value="@ViewBag.typePage" name="@ViewBag.typePage"/>
                        <h4 style="text-align:center;font-family: IRANSans;">ویرایش کاربر </h4>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <input hidden name="OfShopCart" value="@ViewBag.OfShopCart" />
                        @Html.HiddenFor(model => model.CodeActivate)
                        @Html.HiddenFor(model => model.Createdate)
                        @Html.HiddenFor(model => model.IsActive)
                        @Html.HiddenFor(model => model.RoleId)
                        @Html.HiddenFor(model => model.Mobile)
                        @Html.HiddenFor(model => model.UserPassword_Disposable)
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">نام کامل</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">کدپستی</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", required = "required", } })
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">آدرس</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">استان</label>
                            <div class="col-sm-10">
                                <p class="float-right">
                                    استان جاری: @db.Ostans.Where(x => x.Id == Model.OstanId).FirstOrDefault().ostanname
                                </p>
                                <select style="display: block" name="ostanname" onChange="iranwebsv(this.value);" class="form-control" style="font-family: 'iran';" id="ostan">
                                    <option value="0">لطفا استان را انتخاب نمایید</option>
                                    <option style="font-family: 'iran';" value="1">تهران</option>
                                    <option value="2">گیلان</option>
                                    <option value="3">آذربایجان شرقی</option>
                                    <option value="4">خوزستان</option>
                                    <option value="5">فارس</option>
                                    <option value="6">اصفهان</option>
                                    <option value="7">خراسان رضوی</option>
                                    <option value="8">قزوین</option>
                                    <option value="9">سمنان</option>
                                    <option value="10">قم</option>
                                    <option value="11">مرکزی</option>
                                    <option value="12">زنجان</option>
                                    <option value="13">مازندران</option>
                                    <option value="14">گلستان</option>
                                    <option value="15">اردبیل</option>
                                    <option value="16">آذربایجان غربی</option>
                                    <option value="17">همدان</option>
                                    <option value="18">کردستان</option>
                                    <option value="19">کرمانشاه</option>
                                    <option value="20">لرستان</option>
                                    <option value="21">بوشهر</option>
                                    <option value="22">کرمان</option>
                                    <option value="23">هرمزگان</option>
                                    <option value="24">چهارمحال و بختیاری</option>
                                    <option value="25">یزد</option>
                                    <option value="26">سیستان و بلوچستان</option>
                                    <option value="27">ایلام</option>
                                    <option value="28">کهگلویه و بویراحمد</option>
                                    <option value="29">خراسان شمالی</option>
                                    <option value="30">خراسان جنوبی</option>
                                    <option value="31">البرز</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">شهر</label>
                            <div class="col-sm-10">
                                <p class="float-right">
                                    شهرجاری: @Model.cityname
                                </p>
                                <select name="cityname" id="city" class="form-control" style="display: block">
                                    <option value="0">لطفا استان را انتخاب نمایید</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                @if (@ViewBag.OfShopCart == 1)
                                {
                                    <button type="submit" class="btn btn-default btn-block float-left">ذخیره  و  بازگشت به سبد خرید</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-default btn-block float-left">ذخیره</button>
                                }

                            </div>
                            @if (@ViewBag.messageNotCityOstan != null)
                            {
                                <p class="text-danger ">
                                    @ViewBag.messageNotCityOstan
                                </p>
                            }
                        </div>
                    </form>




                </div>

            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script src="~/Scripts/city.js"></script>
}