@model Salino.Models.FarbicType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1 style="margin-bottom:15px">
        نوع پارچه

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Default/Index"><i class="fa fa-dashboard"></i> مدیریت</a></li>
        <li class="active"> <a href="/Admin/GroupProducts/Index">     نوع پارچه</a></li>
        <li class="active">حذف پارچه @Model.tiltle</li>
    </ol>
</section>


<div class="box box-info container">


    <h3>آیا  ازحذف پارچه @Model.tiltle مطمئن هستید؟ </h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tiltle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tiltle)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.PriceMain)
            </dt>

            <dd>
                @Model.PriceMain.ToString("#,0تومان")
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.IsShow)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsShow)
            </dd>
            <hr />
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <button class="btn btn-social btn-success" type="submit">
                            <i class="fa fa-save"></i> حذف
                        </button>
                        <a class="btn btn-social btn-pinterest" href="/Admin/FarbicTypes/index">
                            <i class="fa fa-backward"></i> بازگشت
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>