@model List<  Salino.Models.Product>
@using Salino.DataLayer;
@{
 
    int counter = 1;
    SalinoContext db = new SalinoContext();
    int proid = 0;
}
<div class="container" id="listpro">
    <div class="row prolistitem" style=" justify-content: center!important; ">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-lg-4 col-4 productDesktop " style="margin-top:20px;cursor: pointer; ">

                <a href="/Product/DetailProduct/@item.Id">
                    <img class="left" src="~/Content/imgpro/@item.ImgMain" />
                </a>


                <div class="pricecode">
                    <div class="codemeleft">
                        کد  : @item.CodeKala
                    </div>
                    <div class="pricemeleft">
                        قیمت  : @db.FarbicTypeProducts.Where(x => x.ProductId == item.Id).FirstOrDefault().FarbicTypes.PriceMain.ToString("#,0")
                  
                    </div>
                </div>
            </div>
            <div v-on:click="MoveTodetail(@item.Id)" class="col-md-4  col-lg-4 col-4  productMobile " style="margin-top:15px; background-image: url('/Content/imgpro/@item.ImgMainMob');cursor: pointer; ">
                <a href="/Product/DetailProduct/@item.Id">
                    <div class="pricecode">

                        <div class="codemeleft">
                            کد  : @item.CodeKala
                        </div>
                        <div class="pricemeleft">
                            قیمت  : @db.FarbicTypeProducts.Where(x => x.ProductId == item.Id).FirstOrDefault().FarbicTypes.PriceMain.ToString("#,0")
                        </div>
                    </div>
                    </a>

</div>

            proid = item.Id;
        }
    </div>


    @*<div v-for="(pro,key) in product" :key="key" class="col-md-4 col-lg-4 col-4 productDesktop " style="margin-top:20px;cursor: pointer; ">

            <a >
                <img class="left"  :src="'/Content/imgpro/'+pro.ImgMain"/>
            </a>




            <div class="pricecode">
                <div class="codemeleft">
                    کد  : {{pro.CodeKala}}

                </div>
                <div class="pricemeleft">
                    قیمت  : @db.FarbicTypeProducts.Where(x => x.ProductId == pro.Id).FirstOrDefault().FarbicTypes.PriceMain.ToString("#,0")
                </div>

            </div>
        </div>*@
</div>
